.App {
  text-align: center;
  margin:auto;
  min-width: 1200px
}

.fixed-top{
  padding:1rem;
  background-color: white;
  min-width:1200px;
}

.body{
  margin-top:4rem
}
.header{
  margin-top:1rem
}
.checkbox{
width:10rem
}
