.App {
  text-align: center;
  margin:auto;
  min-width: 1200px
}

.fixed-top{
  padding:1rem;
  background-color: white;
  /* min-width:1200px; */
  margin:auto
}
.filters{
  align-items: center;
}
.filter-elements{
  display: flex;
  justify-content: center;
  align-items: center;
}
h6{
  margin:1rem;
  display: inline-block;
}
.body{
  margin-top:5rem;
}
.header{
  margin-top:1rem
}
.checkbox{
width:10rem;
}
.check-filter{
  display: inline-block;
}